name: flutter_flavor
description: "We can create different flavors, and thus have different instances of our apps before publishing it on the App Store and Google Play."
version: 1.1.0
homepage: https://github.com/lrferreiro/flutter_flavor

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
